


              <!-- Area Chart -->
              <div class="card shadow mb-4" >


                    <div class="card-header py-3">
                       <h6 class="m-0 font-weight-bold text-primary"> </h6>
                    </div>




          <div class="card-body">

          
                

                        <!--#####################################
                        
                        SHOW FORM CREATE
                        
                        ###3-->

                   
                      <!-- <div *ngIf="!f.valid && f.touched" class="alert alert-danger">Please enter required fields</div>  -->      
             <form class="user"(ngSubmit)="onCreateBen()" #f="ngForm">
                 <div class="form-group">
                 <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Full Name" 
                 ngModel  name="name" required>
                 </div>
                 <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address" ngModel
                   name="email" required email>
                 </div>
                 <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="exampleInputEmail"
                   placeholder="Phone" ngModel
                   name="phone" required>
                 </div>
                 <div class="form-group">
                  <input type="text" class="form-control form-control-user" 
                   placeholder="Age" ngModel
                   name="age" required>
                 </div>
                 <div class="form-group">
                  <input type="text" class="form-control form-control-user" 
                   placeholder="Address" ngModel
                   name="address" required>
                 </div>  
                <div class="form-group">
                   <input type="text" class="form-control form-control-user" 
                   placeholder="Purpose for which Beneficiary is receiving support" ngModel
                   name="reason" required>
                 </div>



             <div class="form-group">
              <select placeholder="Nature of Support" style="color:#666;font-size: .8rem;border-radius:10rem;padding:0.5rem 1rem;" 
               ngModel name="nature" class="form-control" id="role" required>  
                <option  value="">Nature of Support </option>      
              <option  value="One Off">One Off</option>
              <option  value="Recurring Short Term">Recurring Short Term (up to a year)</option>
               <option  value="Recurring Long Term">Recurring Long Term (More than a year)</option>
              </select>
                </div>







                <div class="form-group">
                   <input type="text" class="form-control form-control-user" 
                   placeholder="Approval Person" ngModel
                   name="approved_person" required>
                 </div>
                 <div class="form-group">
                   <input type="text" class="form-control form-control-user" 
                   placeholder="Comments" ngModel
                   name="comments" >
                 </div>      


             

              <div  *ngIf="role == 'admin'; else noAdmin" class="form-group">
              <select placeholder="Departments" style="font-size: .8rem;border-radius:10rem;padding:0.5rem 1rem;"  ngModel  name="department_id" class="form-control" id="departments" required>
              <option *ngFor="let department of departments; let i = index" [value]="department.id">
              {{department.name}}
              </option>
              </select>
                </div>


              <ng-template #noAdmin>
              <div class="form-group">
                   <input type="hidden" 
                   placeholder="Department"  [(ngModel)]="dept_id" 
                   name="department_id" required>
                 </div>   
              </ng-template>



                 





                  <div class="alert alert-danger" role="alert" *ngIf="result.length > 0" >
                  <h4 class="alert-heading">An Error occurred</h4>
                  <ul >
                   <li *ngFor="let r of result">{{r}}</li>
                 </ul> 
                  </div>
                 <div class="alert alert-success" role="alert" *ngIf="success.length > 0" >
                  <p>{{ success}}</p> 
                  </div>
                  <div *ngIf="isLoading">
                    loading...
                  </div>
            <div class="submit">
            <button [disabled]="!f.valid"  class="btn btn-danger btn-user btn-block" type="submit"> Create Beneficiary</button>
            </div>
            </form>
                
             







      <hr>
      <div mat-dialog-actions>
        <button class="btn btn-danger"[mat-dialog-close] (click)="onNoClick()">close</button>
        
      </div>
      </div>
      </div>

           
        
 