

    <!-- Sidebar -->
    <ul class="navbar-nav   sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
          <img ng-src="theme_used/img/logo.png" alt="" />
        </div>
        <div class="sidebar-brand-text mx-3">CSR</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading 
      <div class="sidebar-heading">
        Interface
      </div>-->


     <!-- Nav Item - Tables -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/users"  *ngIf="role == 'admin'">
          <i class="fas fa-fw fa-users"></i>
          <span>Users</span></a>
      </li>

       <li class="nav-item active">
        <a class="nav-link" routerLink="/beneficiaries">
          <i class="fas fa-fw fa-table"></i>
          <span>Beneficiaries</span></a>
      </li>
  

      <li class="nav-item active">
        <a class="nav-link" routerLink="/report">
          <i class="fas fa-fw fa-download"></i>
          <span>Reports</span></a>
      </li>
    </ul>
    <!-- End of Sidebar -->

