

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-info  sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
         <img ng-src="theme_used/img/logo.png">
        </div>
        <div class="sidebar-brand-text mx-3">CSR</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading 
      <div class="sidebar-heading">
        Interface
      </div>-->


     <!-- Nav Item - Tables -->
      <li class="nav-item active">
        <a class="nav-link" href="blank.html">
          <i class="fas fa-fw fa-users"></i>
          <span>Users</span></a>
      </li>

       <li class="nav-item active">
        <a class="nav-link" href="blank.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Beneficiaries</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="blank.html">
          <i class="fas fa-fw fa-book"></i>
          <span>Roles</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="blank.html">
          <i class="fas fa-fw fa-download"></i>
          <span>Download</span></a>
      </li>
    </ul>
    <!-- End of Sidebar -->

