
  <!-- Page Wrapper -->
  <div id="wrapper">



         <app-sidebar></app-sidebar>








    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">


            <app-nav></app-nav>






        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">All Beneficiaries</h1>
          <p class="mb-4"></p>
              <app-all-beneficiaries-list></app-all-beneficiaries-list>
        </div>
        <!-- /.container-fluid -->











      </div>
      <!-- End of Main Content -->