/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.submit > a {
  color: #eeeeee !important;
}

/* a {
  color: #e74a3b !important;
  text-decoration: none !important;
  background-color: transparent !important;
} */

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.response {
  font-size: 11;
  font-style: italic;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
